body {
    background-color: rgb(27, 30, 54);
    background-image: url(../IMG/Fondo/fondo_de_pantalla_krees_2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
}

.main__contenedor {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
}

.contacto_info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacto_info p{
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.contacto_contenedor {
    margin-top: 20px;
    width: 72%;
    height: 72%;
    background-color: rgba(212, 222, 223, 0.911);
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 40px;
}

.numeros {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.numeros p {
    color: rgb(27, 30, 54);
    font-size: 2.5rem;
    font-weight: 700;
}

.direccion {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.direccion p {
    color: rgb(27, 30, 54);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 12px;
}

.span__contactos {
    font-size: 1em;
    color: rgb(242, 129, 40);
}

@media (max-width: 1120px) {
    .numeros {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 10px;
    }
}

@media (max-width: 760px) {
    .numeros p, .direccion p {
        font-size: 1.8em;
    }
}