.main__contenedor {
    width: 100%;
    height: 100%;
    background-color: rgba(202, 202, 202, 0.199);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main__contenedor-info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__contenedor-info p {
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(40, 45, 87);
}

.main__contenedor-categorias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main__contenedor-categorias button{
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 2em;
    font-weight: 700;
    background-color: rgba(36, 36, 36, 0.849);
    border-radius: 20px;
    border: none;
}

.main__contenedor-categorias button:hover {
    background-color: rgba(37, 37, 37, 0.507);
    cursor: pointer;
}

#contenedor_resultados {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.384);
}

#contenedor_resultados div {
    width: 260px;
    max-width: 260px; /* Hacer que sea adaptable */

    height: 280px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    margin: 10px;

    padding: 10px;
}

#contenedor_resultados p {
    font-size: 1.25em;
    font-weight: 700;
}

.producto_span {
    font-size: 1em;
    color: rgb(242, 129, 40);
}